body{
	background-color: #81c1a2;
}

.banner-top {
	background-color: grey;
	width: 100%;
	height: 70px;
    text-align: center;
 	color: white;
 	font-size: 20pt;
 	padding-top: 30px;
}

.product{
	background-color:white ; 
	display: inline-block;
	text-align: center;
	border:5px solid white;
	border-radius: 3px;
	margin-top: 30px;
	margin-right: 10px;
	
}

.icon{
	width: 200px;
	height: 100%;
	margin-top: -20px;
	border: 1px solid #79828a ;
}

.name{
	display: block;
	text-align: center;
	padding-top: 3px;
	color: #79828a;
}

.content{
	
	padding-top-weight: 30px;
}
